.navbar {
    display: flex;
    justify-content: space-between;
    width: 1500px;
    height: 60px;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    text-transform: uppercase;
    background-color: #000563;
}

.part1 {
    display: flex;
    gap: 30px;
}

.logo {
    display: flex;
    align-self: center;
}

.part2 {
    display: flex;
    gap: 25px;
}

.part3 {
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
}

.level {
    display: flex;
    background-color: rgb(41, 239, 242);
    border-radius: 10px;
    width: 300px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.level P:nth-child(1) {
    color: rgb(0, 160, 160);
    background-color: rgb(0, 160, 160);
    height: 40px;
    width: 14px;
    border-radius: 10px;
    position: relative;
    right: 90px;
}

.credits {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profiel {
    display: flex;
    align-items: center;
}

.profiel>img {
    display: flex;
    border-radius: 50px;
}

.head2 {
    display: flex;
}

.home {
    display: flex;
    align-items: center;
    color: white;
}

.universe {
    display: flex;
    align-items: center;
    color: white;
}

.review {
    display: flex;
    align-items: center;
    color: white;
}

.feedback {
    display: flex;
    align-self: center;
    align-items: center;
    color: #57be8e;
    background-color: white;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}

.doelen {
    display: flex;
    align-items: center;
    color: white;
}

.leaderboard {
    display: flex;
    align-items: center;
    color: white;
}

.meer {
    display: flex;
    align-items: center;
    color: white;
}

.main {
    display: flex;
    justify-content: center;
}

.main1 {
    display: flex;
}

table {
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    padding: 40px;
    border-collapse: collapse;
    width: 800px;
}

td,
th {
    padding: 20px;
}

tr {
    padding: 10px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

tr:nth-child(1) {
    color: rgb(173, 172, 172);
}



tr:nth-child(2) td:last-child {
    background-color: #57be8e;
    color: white;
    border-radius: 10px;
    width: 40px;

    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

tr:nth-child(4) td:last-child {
    background-color: #57be8e;
    color: white;
    border-radius: 10px;
    width: 40px;

    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}







.main2 {
    display: flex;
    flex-direction: column;
    width: 210px;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    margin: 40px;
    padding: 40px;
}